@page
@model FoodRegistryApp1.Pages.Foods.CreateModel

@{
    ViewData["Title"] = "Create Food";
}

<h1>@ViewData["Title"]</h1>

<h4>Food</h4>
<hr />
<form method="post">
    <div class="form-group">
        <label asp-for="Food.FoodName" class="control-label"></label>
        <input asp-for="Food.FoodName" class="form-control" />
        <span asp-validation-for="Food.FoodName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Food.Calories" class="control-label"></label>
        <input asp-for="Food.Calories" class="form-control" />
        <span asp-validation-for="Food.Calories" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Food.Category" class="control-label"></label>
        <input asp-for="Food.Category" class="form-control" />
        <span asp-validation-for="Food.Category" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

<a href="@Url.Page("./Index")">Back to list</a>
